%cover {
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%clamp {
  @media screen and (min-width: 768px) {
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

%translateY-center {
  top: 50%;
  transform: translateY(-50%);
}

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
