@mixin font($font-family, $font-file, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + ".woff2") format("woff2");
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin maxw($width) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin grid {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 2rem;
  }
}

@mixin spaceTop($spacing: 40) {
  > :not(:first-child) {
    margin-top: $spacing;
  }
}

@mixin spaceLeft($spacing: 40) {
  > :not(:first-child) {
    margin-left: $spacing;
  }
}
